body {
  background-image: linear-gradient(orange, purple, black);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 20px;
  padding-bottom: 20px;
}

h1, h2 {
  font-family: monaco;
  text-align: center;
  color: white;
}

p {
  font-family: monaco;
  color: white;
  text-align: center;
}

img.logo {
  position: relative;
  height: 30px;
  align-content: center;
}

img {
  position: relative;
  height: 400px;
}

div.animeInfo {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  background: none;
  border: none;
  font-family: monaco;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  transition-duration: 0.3s;
}

button:hover {
  color: orange;
}

table {
  text-align: center;
  border: 1px white solid;
  margin: 0 auto;
}

th, tr, td {
  border: 1px white solid;
  color: white;
  font-family: monaco;
  padding: 10px;
}

th, td {
  border-collapse: collapse;
}

@media screen and (min-width: 300px) {
  div.logoArea {
    width: 250px;
    margin: 0 auto;
  }

  div.information, div.informationReversed {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
  }

  div.information.desktop {
    display: none;
  }

  div.character {
    margin: 0 auto;
  }

  p.charDescription {
    text-align: center;
  }

  th, tr, td {
    padding: 0px;
  }

  div.albumInfo {
    width: 250px;
    height: 500px; 
    border-radius: 20px;
    background-color: gray;
    margin: 20px auto;
    padding: 15px;
    flex-direction: column;
    display: flex;
  }
  
  img.albumCover {
    height: 245px;
    width: 245px;
    border-radius: 10px;
  }
  
  audio {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 245px;
  }

  div.song {
    display: flex;
    flex-direction: column;
  }
  
  div.songInfo {
    display: flex;
    flex-direction: column;
  }
  
  p.songTitle, p.artist {
    font-family: monaco;
    flex-direction: column;
    margin: 0;
    color: white;
    position: relative;
    width: 245px;
    text-align: left;
    left: 10px;
  }

  p.songTitle {
    top: 10px;
  }

  p.artist {
    top: 30px;
  }
}

@media screen and (min-width: 700px) {
  div.logoArea {
    width: 450px;
  }

  img.logo {
    height: 55px;
  }

  div.introduction {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
  }

  div.informationReversed {
    display: none;
  }

  div.information, div.information.desktop {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 100px;
  }

  div.description, div.character {
    height: 400px;
    width: 300px;
    margin: 0 auto;
  }
  
  p.charDescription {
    text-align: left;
  }

  th, tr, td {
    padding: 10px;
  }

  div.albumInfo {
    width: 500px;
    height: 150px; 
  }
  
  img.albumCover {
    height: 150px;
    width: 150px;
  }
  
  audio {
    padding: 0 0 20px 20px;
    width: 320px;
  }

  div.song {
    flex-direction: row;
  }
  
  div.songInfo {
    flex-direction: column;
  }
  
  p.songTitle, p.artist {
    width: 320px;
    left: 190px;
  }

  p.songTitle {
    top: -85px;
  }

  p.artist {
    top: -75px;
  }
}
